{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-gradient-to-br from-[#ffe1ed] to-[#ffc6d9] px-4 py-12 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-xl shadow-lg">
    <div>
      <h2 class="mt-6 text-center text-gray-900 text-3xl font-extrabold">
        Welcome to marquette
      </h2>
    </div>
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm space-y-2">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" required class="appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required class="appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-[#c78ca0] hover:bg-[#d9a7a4] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
          Sign In
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4 space-y-2">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Success</p>
                <p>{{ message }}</p>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Error</p>
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Info</p>
                <p>{{ message }}</p>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-6">
      <p class="text-sm text-gray-600">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-[#c78ca0] hover:text-[#d9a7a4] transition duration-150 ease-in-out">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}